<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Triangolo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A6474281E8A9A7600FDCECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A64743C1E8A9A7600FDCECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A6474471E8A9A7600FDCECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
